.text-container {
    width: 100%;
    top: 75%;
    position: absolute;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
    text-align: center;
}

.text-container>p {
    background-color: #c2185bBA;
    color: white;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
    max-width: 70%;
}