.question-container {
    width: 100%;
    top: 25%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.question-container>p {
    background-color: #c2185bBA;
    color: white;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
    max-width: 70%;
}

.answer-container {
    width: 100%;
    top: 75%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    display: flex;
}

.answer-container>div>p {
    color: white;
    margin: 0px
}

.answer-0 {
    background-color: #B24C63BA;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
}

.answer-1 {
    background-color: #5438DCBA;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
}

.answer-2 {
    background-color: #377DEDBA;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
}