<div class="question-container">
    <p>
        {{ questionText }}
    </p>
</div>

<div class="answer-container" *ngIf="displayQuestion">
    <div *ngFor="let answer of answers; index as i" [class]="'answer-' + i" (click)="onClick(answer)">
        <p>
            {{ answer.text }}
        </p>
    </div>
</div>

<div class="answer-container" *ngIf="displayAnswer">
    <div [class]="'answer-' + correctAnswerIndex">
        <p>
            {{ answerMessage }}
        </p>
    </div>
</div>