p {
    color: white;
}

.card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 400px;
    width: 266px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    margin: auto;
}

.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
}

.face>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.front {
    transform: rotateY(180deg);
}

.bottom-centre {
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    padding-bottom: 12px;
    padding-top: 4px;
    background-color: #424242AA;
    margin: 0px;
    width: 100%;
}

.cover-card {
    position: absolute;
    top: 0px;
    height: 400px;
    width: 266px;
    transform-style: preserve-3d;
    margin: auto;
}