<div class="card" (click)="onClick()" [@cardFlip]="flipState">
    <div class="face back">
        <img [src]="backImageUrl">
        <p class="bottom-centre">
            Click card to flip
        </p>
    </div>
    <div class="face front">
        <img [src]="imageUrl">
        <div class="cover-card">
            <app-card-details [data]="card">
            </app-card-details>
        </div>
    </div>
</div>