<div class="container">
    <div class="title">
        <h2>{{ title }}</h2>
    </div>

    <div class="content">
        <app-card-details-text *ngIf="type==='text'" [data]="card">
        </app-card-details-text>"
        <app-card-details-question *ngIf="type==='question'" [data]="card">
        </app-card-details-question>"
    </div>
</div>