.title {
    margin: 0px;
    width: 100%;
}

.title>h2 {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #424242AA;
    color: white;
    border-radius: 5px;
}

.content {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
}