<div class=container>
    <h1 class="horizontal-centre">
        James Getting Hitched
    </h1>

    <div class="vertical-centre">
        <div class="horizontal-centre horizontal-centre-div">
            <app-card [data]="card"></app-card>
        </div>

        <div class="horizontal-centre horizontal-centre-div">
            <button mat-raised-button (click)="onNextClick()">Next Card</button>
        </div>

        <div class="horizontal-centre horizontal-centre-div" *ngIf="showDrunkPirateLink">
            <p>All cards played, click <a href="https://drunkpirate.co.uk/">here</a> to go to drunk pirate</p>
        </div>
    </div>
</div>