h1 {
    padding: 20px;
}

.horizontal-centre {
    text-align: center;
}

.horizontal-centre-div {
    margin: 10px;
}

.vertical-centre {
    top: 50%;
    position: absolute;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    height: 100%;
    position: relative;
    background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
}